<apex:page standardController="Transaction__c" extensions="PointsContractFunctionCancelController" >

    <apex:form >
        <apex:pageBlock title="Cancel Points">

            
            <apex:pageBlockSection >
                <apex:outputField value="{! contract.Membership_Number__r.Developer__c}" />
            </apex:pageBlockSection>   

            <apex:pageBlockSection >
                <apex:outputField value="{! contract.Membership_Number__c}" />
            </apex:pageBlockSection>            

            <apex:pageBlockSection >
                <apex:outputField value="{! Transaction__c.ContractId__c}" />
            </apex:pageBlockSection>

            <apex:pageBlockSection >
                <apex:outputField value="{! contract.First_Current_Owner__c }" />
            </apex:pageBlockSection>

            <apex:pageBlockSection >
                <apex:inputField value="{! Transaction__c.Closing_Date__c }" />
            </apex:pageBlockSection>

            <apex:pageBlockSection >
                <apex:inputField value="{! Transaction__c.Comments__c}" style="width:400px" />
            </apex:pageBlockSection>

           

            <apex:pageBlockButtons >
                <apex:commandButton action="{! saveAndReturn }" value="Save" />
                <apex:commandButton action="{! cancel }" value="Cancel" />
            </apex:pageBlockButtons>
        </apex:pageBlock>

    </apex:form>



</apex:page>